
<%- include('../partials/header') %> 

<link rel="stylesheet" href="/css/transaction.css">
<%- include('../partials/title') %> 
<%- include('../partials/navigation') %> 
<body>
    <div class="wrap-transactions">

    
<div class="table-box">
    <h3>Latest Block</h3>
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Hight</p>
            </div>
            <div class="table-cell">
                <p>Timestamp</p>
            </div>
            <div class="table-cell">
                <p>Hash</p>
            </div>
            <div class="table-cell last-cell">
                <p>Previous Hash</p>
            </div> 
        </div>
       <% chain.forEach(block=>{ %> 
        <div class="table-row">
            <div class="table-cell first-cell">
                <p class="parahori"><%=block.index%> </p>
            </div>
            <div class="table-cell">
                <p class="parahori"><%=block.timestamp%></p>
            </div>
            <div class="table-cell last-cell">
                <p class="parahori"><%=block.hash%></p>
            </div>   
            <div class="table-cell last-cell">
                  <p class="parahori"><%=block.prevHash%></p>
            </div>   
        </div>
        <% }) %> 

       </div>
        
        
          <!-- for latest transaction -->
          <div class="table-box">
            <h3>Latest Transaction</h3>
                <div class="table-row table-head">
                    <div class="table-cell first-cell">
                        <p>Hash</p>
                    </div>
                    <div class="table-cell">
                        <p>Time</p>
                    </div>
                    <div class="table-cell">
                        <p>Amount(BTC)</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>Amount(USD)</p>
                    </div> 
                </div>
        
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>de4d404733</p>
                    </div>
                    <div class="table-cell">
                        <p>8:10</p>
                    </div>
                    <div class="table-cell last-cell">
                        <p>1.99189991 BTC</p>
                    </div>   
                    <div class="table-cell last-cell">
                          <p>1,211,395 bytes</p>
                    </div>   
                </div>
        
                </div>
        </div>
        <%- include('../partials/footer') %> 