

 <!-- <link rel="stylesheet" href="/css/electnav.css"> -->
<!--  
 <div class="animation start-dashboard"></div>
<nav class="elect-nav-">

   <ul class="main-header__item-list">
       <li class="main-header__item">
           <a class="<%= path === '/electiondashboard' ? 'active' : '' %>" href="/electiondashboard">Recent Work</a>
       </li>
       <li class="main-header__item">
           <a class="<%= path === '/announceelection' ? 'active' : '' %>" href="/announceelection">Announce Election</a>
       </li>
       <li class="main-header__item">
           <a class="<%= path === '/walletdetails' ? 'active' : '' %>" href="/walletdetails">Wallet</a>
       </li>
       <li class="main-header__item">
           <a class="<%= path === '/votersdetails' ? 'active' : '' %>" href="/votersdetails">Voters Details</a>
       </li>
       <li class="main-header__item">
           <a class="<%= path === '/result' ? 'active' : '' %>" href="/result">Result</a>
       </li>
       <div class="animation start-dashboard"></div>
       </ul>
       </nav>  -->

       
           <!-- <ul class="elect-ul-work">
           <a href="#">Recent Work</a>
           <a href="#">Announce Election</a>
           <a href="#">Wallet</a>
           <a href="#">Voters Details</a>
           <a href="#">Result</a>
           <div class="animation start-dashboard"></div>
       </ul>
          -->

              <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
          
          <div class="wrapper">
              <div class="sidebar">
                  <h2><%=election.electionTitle%></h2>
                  <ul>
                      <li><a  href="/o/<%=election.electionTitle%>/<%=election._id%>/recent" <%= path === '/result' ? 'active' : '' %>><i class="fas fa-home"></i>Recent</a></li>
                      <li><a href="#"><i class="fas fa-address-card"></i>Election Details</a></li>
                      <li><a href="#"><i class="fas fa-user"></i>Voter Details</a></li>
                      
                      <li><a href="#"><i class="fas fa-project-diagram"></i>Transactions</a></li>
                      <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
                  </ul> 
              </div>
          </div>
