<div class="loader">
    <img src="/img/voteloader1.gif" alt="Loading..." />
</div>
        <header class="header">
            <a href="#" class="header__logo"></a>

            <i class='fas fa-bars header__toggle' id="header-toggle" ></i>

            <nav class="nav" id="nav-menu">
                <div class="nav__content bd-grid">
                    <a href="/v/dashboard" class="nav__perfil">
                        <div class="nav__img">
                            <img src="/img/symbol.png" alt="">
                        </div>
                        
                        <div>
                            <span class="nav__name">Blockchain Voting System</span>
                        </div>
                    </a>
    
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="/v/dashboard" class="nav__link <%= path === '/v/dashboard' ? 'active' : '' %>">Home<i class="fas fa-home"></i></a></li>
    
                            
    
                            <li class="nav__item"><a href="/v/election-details" class="nav__link <%= path === '/v/election-details' ? 'active' : '' %>"><i class="fas fa-plus"></i>Election Details</a></li>
                           
                            <li class="nav__item dropdown">
                                <a href="" class="nav__link dropdown__link <%= path === '/v/dashboard' ? 'active' : '' %>"><i class="fas fa-user"></i>Profile</i></a>
                            </li>
                            <li class="nav__item dropdown">
                                <a href="" class="nav__link dropdown__link <%= path === '/v/dashboard' ? 'active' : '' %>">About</i></a>
                            </li>
                            <li class="nav__item"><form action="/vlogout" method="post"><input type="hidden" name="_csrf" value="<%=csrfToken%>"><button class="nav__link" type="submit">Logout</button></form></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--===== MAIN JS =====-->
      
