<%- include('../../partials/header') %> 


<%- include('../../partials/title') %> 

<h2 class="title centered">Election : </h2>
<h3 class=" centered">Please Login to proceed further!</h3>
<div class="wrapper1">

    
<form action="/vlogin" method="post" class="card">
    <div class="input_field">
        <label>Email</label>
        <input type="email" class="input" name ="vEmail">
    </div>         
    <div class="btn">
        <input type="hidden" value="<%=linkId%>" name="linkId">
        <input type="hidden" value="<%=electionId%>" name="electionId">
        <input type="submit" value="Submit" class="submit_btn">
    </div>
</form>
</div>
<%- include('../../partials/footer') %> 